 
 body{
 
 background:radial-gradient(circle at 100%, rgb(255, 230, 173) 0%, rgba(202, 192, 255, 0.7) 100%)
 
 
}

*{
	box-sizing: border-box;
	font-family:  sans-serif;

}

 h1{
 	color: #96364a;
 	font-family: sans-serif;
 	font-size: 25px ;
 	text-align: center;
    text-decoration-line: underline;
 }
 #input
 {
 	margin-left: -266px;
 	background-color: #b5838d;
 	color: #ffe7ab ;
 }

.name
{
	font-family: sans-serif;
 	text-align:  center; 
 	margin-right: 299px ;
 	color: #96364a;
 	font-size: 20px ;
 	margin-left: 375px;
 	text-decoration-line: underline;
 }


.quiz{
	 
	height: 400px ;
	width: 650px ;
	margin: 30px auto ;
	border-radius:  8px ;
	padding: 25px ;
	background-image: url(Untitled-1.jpg);
	 
}


.quiz .question{	
	padding: 15px;
	background-color: #4a4550;
	border-radius: 8px;
	color:#ffe7ab;
	font-size:20px;
	float: left;
	width: 100%;
	text-align: center;

}

.quiz .options
{
float: right;
width: 100% ;
} 

.quiz .options ul
{
list-style: none;
padding: 0px;
display : flex ;
justify-content: space-between;
flex-wrap:  wrap;

} 

.quiz .options ul li{
    display: inline-block;
	background-color: #b5838d;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color: #ffffff;
	opacity: 0.9;
	box-shadow: 0px 3px 0px #6d6875;
	cursor: pointer;
	text-align: center;
}


.quiz .score {
	float: left ;
	width: 100%;
	padding:25px 0px;
}

 

 
.quiz .score .score-card{
     margin-left: 150px;
    font-style: oblique;
    text-decoration-line: underline;
    font-size: 39px;
    line-height: 50px;
    text-transform: uppercase;

}
.quiz .score .score-card span{
	background-color: #e79fa3;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;

}

